html {
  background-color: #6fc276;
  text-align: center;
  font-family: "Gill Sans";
}

.person p {
  display: inline-block;
}

.members {
  width: 60%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.name {
  text-align: left;
  width: 25%;
}

.tel {
  text-align: center;
  width: 40%;
}

.uid {
  text-align: right;
  width: 35%;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: deepskyblue;
}

a:active {
  color: deepskyblue;
}

.dividing-line {
  background: linear-gradient(90deg, #ff007f, #00d5d6);
  height: 5px;
  border: 1px;
  width: 65%;
}
  
label {
  display: block;
}
