html {
  background-color: #6fc276;
  text-align: center;
}

.person p {
  display: inline-block;
}

.members {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.
