html {
  background-color: #6fc276;
  text-align: center;
  font-family: "Gill Sans";
}

.person p {
  display: inline-block;
  top-margin: 6px;
  bottom-margin: 6px;
  font-size: 20px;
}

.members {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


.name {
  text-align: left;
  width: 20%;
}

.tel {
  text-align: center;
  width: 40%;
}

.uid {
  text-align: right;
  width: 40%;
}

a {
  color: blue;
}

a:visited{
  color: blue;
}

a:hovered{
  color: deepskyblue;
}

a:clicked{
  color: deepskyblue;
}
