html {
  background-color: #6fc276;
  text-align: center;
}

.person p {
  display: inline-block;
}

.members {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


.name {
  text-align: left;
  width: 25%:
}

.tel {
  text-align: center;
  width: 45%:
}

.uid {
  text-align: right;
  width: 30%;
}
